$white:#FFF;

$gray: #252B42;
$gray-2: #808992;
$gray-3: #FAFBFF;
$gray-4: #EFF1F9;
$gray-5: #E9ECF6;
$gray-6: #CED3E8;
$gray-7: #45515F;
$gray-8: #C6CAEC;  
$gray-9: #5454D4;   
$gray-10: #808992; 
$gray-11: #45515F;  
$gray-12: #D9DCE0;  
$gray-13: #001832;
$gray-14: rgba(37, 43, 66, 0.502);
$gray-15: rgba(0, 0, 0, 0.25);

$blue: #4250BF;
$blue-2: #38A5DB;
$blue-3 :#263396;
$blue-4: #0F81FF; 
$blue-5: #1877F2; 
$blue-6: #63C7FF; 
$blue-7:  #1C2085; 
$blue-8: #263396;